body, .display, .container, .controls, .controls div{
    display: flex;
}

body {
  padding: 100px;
  font-family: monospace;
  font-weight: bold;
  font-size: xx-large;
  background-color: rgb(184, 181, 181);
  align-items: center;
  justify-content: center;
}
.display {
  font-size: xxx-large;
  border: solid rgb(17, 27, 4) 4px;
  height: 110px;
  background-color: rgb(74, 153, 74);
  box-sizing: border-box;
  padding-right:3px ;
  justify-content: flex-end;
  align-items: flex-end;
}

.container {
  background-color: #639ff8;
  flex-direction: column;
  width: 40%;
  max-width: 350px;
  min-width: 300px;
  border: solid rgb(17, 27, 4) 4px;
  padding: 25px;
  border-radius:20px;
}

.controls {
  margin-top: 20px;
  flex-wrap: wrap;
}

#ac,
#clear {
  width: 37.5%;
  background-color: rgb(159, 159, 233);
}
#zero {
  width: 50%;
}

.controls div {
  background-color: #abbece;
  box-sizing: border-box;
  width: 25%;
  height: 80px;
  justify-content: center;
  align-items: center;
  border: solid #639ff8 2px;
}

div.operators{
    background-color:rgb(201, 190, 160);
}

